{% extends 'base.html.twig' %}
{% block body %}
{# Exercice 2 #}
{% if (message) %}
    {{message}}
{% endif %}
{% for inscription in ensInscriptions %}<br/>
 <div class="card mb-3">
    <div class="card-body"
    <h5 class="card-title">Nom Employe: <b>{{ inscription.employe.nom}}<br/></b></h5>
    <p class="card-text"> Formation: <b>{{ inscription.formation.produit.libelle}}<br/></b></p>
    <p class="card-text">Statut : <b>{{ inscription.statut}}<br/></b></p>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
{% endfor %}
<a class="btn btn-primary" href="{{path('aff_employe')}}">retour</a></br>
{% endblock %}